In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
playerpath = "resources/HeroesOfPymoli.csv"

In [3]:
player_data = pd.read_csv(playerpath)

In [4]:
player_df = pd.DataFrame(player_data)
player_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [10]:
sorted_df = player_df.sort_values("Item ID")
sorted_df.head().index

Int64Index([204, 133, 150, 662, 121], dtype='int64')

In [6]:
player1_df = player_df.set_index("Item ID")
#player1_df

In [441]:
mpitems_df = player_df.loc[:, ["Item ID", "Item Name", "Price" ]]
#mpitems_df

In [442]:
tplayers = player_df["SN"].unique().size
#tplayers

In [443]:
tplayer_df = pd.DataFrame(tplayers, index = [0], columns = ["Total Players"])
tplayer_df

   Total Players
0            576

In [444]:
tpurch_dict = {}
tpurch_dict["Number of Unique Items"] = player_df["Item Name"].unique().size
tpurch_dict["Average Price"] = player_df["Price"].mean()
tpurch_dict["number of Purchases"] = player_df["Purchase ID"].max() + 1
tpurch_dict["Total Revenue"] = player_df["Price"].sum()

tpurch_df = pd.DataFrame(tpurch_dict, index = [0])
tpurch_df

   Number of Unique Items  Average Price  number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [445]:
unique_df = player_df.drop_duplicates(subset='SN', keep="last")
#unique_df

In [446]:
grouped_gender_df = unique_df.groupby("Gender")
gender_df = pd.DataFrame(grouped_gender_df["Gender"].count())
#gender_df

In [447]:
gender_df["Percentage of Players %"] = [81*100/576, 484*100/576, 11*100/576]
gender_df

                       Gender  Percentage of Players %
Gender
Female                     81                14.062500
Male                      484                84.027778
Other / Non-Disclosed      11                 1.909722

In [448]:
grouped_player_df = player_df.groupby("Gender")
pa_df = grouped_player_df["Purchase ID"].count()
#pa_df

In [449]:
pa_df2 = grouped_player_df["Price"].mean()
pa_df3 = grouped_player_df["Price"].sum()

In [450]:
merge_df = pd.merge(pa_df, pa_df2, how = "left", on = "Gender" )

In [451]:
merge_df = pd.merge(merge_df, pa_df3, how = "left", on = "Gender")

In [452]:
merge_df["Avg Total Purchase Per Person"] = [361.94/81, 1967.64/652, 50.19/15]

In [453]:
merge_df.columns = ["Purchase Count", "Avg Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"]

In [454]:
merge_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [455]:
age_bins = [3, 10, 15, 20, 25, 30, 35, 40, 60]
age_labels = ['<10', '10-14', '15-19', '20-24','25-29', '30-34', '35-39', '40+' ]
player_df["age group"] = pd.cut(player_df["Age"], age_bins, labels = age_labels)

In [456]:
unique_df = player_df.drop_duplicates(subset='SN', keep="last")
grouped_age_df = unique_df.groupby("age group")
agedem_df = grouped_age_df["Age"].count()
#agedem_df

In [457]:
agedem_df2 = grouped_age_df["Age"].count()
agedem_df2 = agedem_df2 * (100/576)
agedem_df = pd.merge(agedem_df, agedem_df2, how = 'left', on = "age group")
#agedem_df

In [458]:
agedem_df.columns = ["Total Count", "Percentage of Players"]
agedem_df

           Total Count  Percentage of Players
age group
<10                 24               4.166667
10-14               41               7.118056
15-19              150              26.041667
20-24              232              40.277778
25-29               59              10.243056
30-34               37               6.423611
35-39               26               4.513889
40+                  7               1.215278

In [459]:
grouped_age_df2 = player_df.groupby("age group")
age_df1 = grouped_age_df2["Purchase ID"].count()

In [460]:
age_df2 = grouped_age_df2["Price"].mean()
age_df3 = grouped_age_df2["Price"].sum()
age_df4 = grouped_age_df2["Price"].sum()/agedem_df["Total Count"]

In [461]:
age4 = age_df4.to_dict()
#age4

In [462]:
age4_df = pd.DataFrame.from_dict(age4, orient='index', columns = ["Avg Total Purchase Per Person"])
#age4_df

In [463]:
paage_df = pd.merge(age_df1, age_df2, how = 'left', on = 'age group')

In [464]:
paage_df = pd.merge(paage_df, age_df3, how = 'left', on = 'age group')

In [465]:
paage_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
#paage_df

In [466]:
paage_df["Avg Total Purchase Per Person"] = age4_df

In [467]:
paage_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
age group,,,,
<10,32,3.405000,108.96,4.540000
10-14,54,2.900000,156.60,3.819512
15-19,200,3.107800,621.56,4.143733
20-24,325,3.020431,981.64,4.231207
25-29,77,2.875584,221.42,3.752881
30-34,52,2.994423,155.71,4.208378
35-39,33,3.404545,112.35,4.321154
40+,7,3.075714,21.53,3.075714

In [468]:
grouped_SN_df = player_df.groupby("SN")
tspender_df = (grouped_SN_df["Price"].sum()).sort_values(ascending = False)
tspender_df.head()
#gspender_df = tspender_df.iloc[0:4, :]

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [469]:
player_df = player_df.set_index("SN")
#player_df

In [470]:
arr = np.arange(15).reshape(5, 3)

playerlist = ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]

for i in range(5):
    tp_df = player_df.loc[playerlist[i], :]
    arr[i, 0] = tp_df["Purchase ID"].count()
    arr[i, 1] = float(tp_df["Price"].sum()/arr[i, 0])
    arr[i, 2] = float(tp_df["Price"].sum())

In [471]:
tps_df = pd.DataFrame(arr, index = ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"], 
                      columns = ["Purchase Count", "Avg Purchae Price", "Total Purchase Value"])
tps_df #Top Spenders

             Purchase Count  Avg Purchae Price  Total Purchase Value
Lisosia93                 5                  3                    18
Idastidru52               4                  3                    15
Chamjask73                3                  4                    13
Iral74                    4                  3                    13
Iskadarya95               3                  4                    13

In [472]:
grouped_df = mpitems_df.groupby(["Item ID", "Item Name"])
mp_df = (grouped_df["Item ID"].count()).sort_values(ascending = False)

mp_df # Popularity sort

Item ID  Item Name
92       Final Critic                                    13
178      Oathbreaker, Last Hope of the Breaking Storm    12
108      Extraction, Quickblade Of Trembling Hands        9
132      Persuasion                                       9
82       Nirvana                                          9
                                                         ..
104      Gladiator's Glaive                               1
27       Riddle, Tribute of Ended Dreams                  1
134      Undead Crusader                                  1
118      Ghost Reaver, Longsword of Magic                 1
91       Celeste                                          1
Name: Item ID, Length: 179, dtype: int64

In [473]:
mp_df2 = (grouped_df["Price"].sum()).sort_values(ascending = False)
mp_df2 # Prifitable sort

Item ID  Item Name
92       Final Critic                                    59.99
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
103      Singed Scalpel                                  34.80
                                                         ...
28       Flux, Destroyer of Due Diligence                 2.12
125      Whistling Mithril Warblade                       2.00
126      Exiled Mithril Longsword                         2.00
104      Gladiator's Glaive                               1.93
42       The Decapitator                                  1.75
Name: Price, Length: 179, dtype: float64

In [474]:
myarr = np.arange(15).reshape(5, 3)
myarr2 = np.arange(15).reshape(5, 3)

idlist = [92, 178, 108, 132, 82]
idlist2 = [92, 178, 82, 145, 103]

for i in range(5):
    tp_df = player1_df.loc[idlist[i], :]
    myarr[i, 0] = tp_df["Purchase ID"].count()
    myarr[i, 1] = tp_df["Price"].mean()
    myarr[i, 2] = tp_df["Price"].sum()
    tp_df2 = player1_df.loc[idlist2[i], :]
    myarr2[i, 0] = tp_df2["Purchase ID"].count()
    myarr2[i, 1] = tp_df2["Price"].mean()
    myarr2[i, 2] = tp_df2["Price"].sum()

In [475]:
mps_df = pd.DataFrame(myarr, index = [92, 178, 108, 132, 82], 
                      columns = ["Purchase Count", "Avg Purchae Price", "Total Purchase Value"])
mps_df.insert(0, "Item Name", ["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm",
                                 "Extraction, Quickblade Of Trembling Hands", "Persuasion", "Nirvana"]) 
mps_df # Top 5 Most Popular Items

,Item Name,Purchase Count,Avg Purchae Price,Total Purchase Value
92,Final Critic,13,4,59
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4,50
108,"Extraction, Quickblade Of Trembling Hands",9,3,31
132,Persuasion,9,3,28
82,Nirvana,9,4,44

In [476]:
mprof_df = pd.DataFrame(myarr2, index = [92, 178, 82, 145, 103], 
                        columns = ["Purchase Count", "Avg Purchae Price", "Total Purchase Value"])
mprof_df.insert(0, "Item Name", ["Final Critic", "Oathbreaker, Last Hope of the Breaking Storm",
                                 "Nirvana", "Fiery Glass Crusader", "Singed Scalpel"]) 
mprof_df # TOP 5 Most Profitable Items

,Item Name,Purchase Count,Avg Purchae Price,Total Purchase Value
92,Final Critic,13,4,59
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4,50
82,Nirvana,9,4,44
145,Fiery Glass Crusader,9,4,41
103,Singed Scalpel,8,4,34

In [ ]:
#End of the job 29/12/2020